<h2>Hello and welcome to The Hearthstone Codex and Deck Builder!</h2>

<p>Please use this codex to search through the different cards available to the different classes in the game</p>
<p>If you find yourself intrigued then by all means please log in and begin creating decks of your very own!</p>

<h2>Status: Beta</h2>
<p>Unfortunetly this app is still in the earliest stage of release and therefore has some bugs the developer is currently working on fixing</p>
  <em>Known Issues</em>
  <ul>
    <li>Current API is a big buggy and returns grey images and may have other problems</li>
  </ul>
<p>If you notice anything particularly nasty please don't hesitate to contact me about them. If it's something blaring then I am probably aware of it and doing my best to fix it</p>
<p>If you have any interest in helping me with this project or just reporting a bug then please get in touch with me here on my <a href="https://github.com/Arcdeamonofire/project-4-Hearthstone-RoR/issues">GitHub</a></p>
<p>Or through my website <a href="www.samuelweisse.com">here</a></p>

<h3>Happy Playing :)</h3>
