/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.error {
  color:red;
}

html {
  background-color: #F0E7CA;
}

body{
  min-width: 550px;
}

#body {
  padding-top: 8em;
  text-align: center;
}

#navBar {
  min-width: 450px;
  height:1em;
  text-align: center;
  position: fixed;
  background: #B4AF9F;
  width:100%;
  top:0;
  padding-bottom: 4em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  z-index: 100;
  margin: 0;
  left: 0px;
}

.home-ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.home-li {
  display: inline-block;
  padding: 0 2em;
  text-decoration: none;
  color:black;
}

a{
  color:black;
}


.home-li:hover {
  cursor: pointer;
  color:black;
  border-top: 2px solid #318ba2;
  padding-top: 1em;
}

#logo{
  display:block;
  height:100%;
  width:100%;
  left: 0px;
}
